@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Source+Serif+Pro:wght@200;300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  font-size: 16px;
  background-color: #eae5d8;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Source Serif Pro", serif;
  font-weight: 200;
  letter-spacing: 0.05em;
}

p,
a,
.button-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.border-btn {
  position: relative;
  height: 50px;
  width: 200px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  z-index: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.white-slide-btn:hover::before,
.black-slide-btn:hover::before {
  width: 100%;
}

.white-slide-btn::before,
.black-slide-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: all 0.25s;
}

.white-slide-btn {
  border: 1px solid #f9f6ee;
  color: #f9f6ee;
}

.black-slide-btn {
  border: 1px solid #161615;
  color: #161615;
}

.black-slide-btn:hover {
  color: #f9f6ee;
}
.white-slide-btn:hover {
  color: #161615;
}

.white-slide-btn::before {
  background-color: #f9f6ee;
}

.black-slide-btn::before {
  background-color: #161615;
}

@media only screen and (min-width: 768px) {
  .login-bg {
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      63.18deg,
      #77c3fd 0%,
      #6d7cfd 33.65%,
      #b3aafc 63.85%,
      #edecf8 100%
    );
  }

  .login-bg h1,
  .login-bg p {
    font-family: Montserrat, sans-serif;
  }

  .login-bg h1 {
    font-weight: 600;
    font-size: 1.25rem;
  }

  .login-bg p {
    font-weight: 500;
    opacity: 0.5;
    font-size: 0.75rem;
    width: 250px;
  }

  .login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 50px;
  }
}
